<%- include("partials/header") -%>

<div  class="heading">
    <h1>Academics</h1>
</div>
<div class="main">
    <form action="/academicCredentials" method="post">

        <!-- Academic Credentials -->

        <div>
            <h2 style="margin: 15px 3px;">Academic Credentials</h2>
            <table class="tableAcademics">
                <tr>
                    <th class="tableAcademics">Course</th>
                    <th class="tableAcademics">Name of Institution</th>
                    <th class="tableAcademics">University/Board</th>
                    <th class="tableAcademics">Year of Passing</th>
                    <th class="tableAcademics">CGPA/%</th>
                </tr>
                <tr>
                    <td class="tableAcademics"><input type="text" name="clgCourse"        class="input form-control" id="" autocomplete="off" required></td>
                    <td class="tableAcademics"><input type="text" name="clgName"          class="input form-control" id="" autocomplete="off" required></td>
                    <td class="tableAcademics"><input type="text" name="clgBoard"         class="input form-control" id="" autocomplete="off" required></td>
                    <td class="tableAcademics"><input type="number" name="clgYearPassing" class="input form-control" id="" autocomplete="off" required></td>
                    <td class="tableAcademics"><input type="text" name="clgCgpa"          class="input form-control" id="" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td class="tableAcademics" style="font-weight: bold;"><input type="text" class="input form-control" name="hscCourse" id=""></td>
                    <td class="tableAcademics"><input type="text"   class="input form-control" autocomplete="off" required   name="hscName" id=""></td>
                    <td class="tableAcademics"><input type="text"   class="input form-control" autocomplete="off" required   name="hscBoard" id=""></td>
                    <td class="tableAcademics"><input type="number" class="input form-control" autocomplete="off" required   name="hscYearPassing" id=""></td>
                    <td class="tableAcademics"><input type="text"   class="input form-control" autocomplete="off" required   name="hscCgpa" id=""></td>
                </tr>
                <tr>
                    <td class="tableAcademics" style="font-weight: bold;"><input type="text" class="input form-control" name="sslcCourse" id=""></td>
                    <td class="tableAcademics"><input type="text" name="sslcName"          class="input form-control" autocomplete="off" required id=""></td>
                    <td class="tableAcademics"><input type="text" name="sslcBoard"         class="input form-control" autocomplete="off" required id=""></td>
                    <td class="tableAcademics"><input type="number" name="sslcYearPassing" class="input form-control" autocomplete="off" required id=""></td>
                    <td class="tableAcademics"><input type="text" name="sslcCgpa"          class="input form-control" autocomplete="off" required id=""></td>
                </tr>
            </table>
        </div>

        <!-- Software Proficiency -->

        <div>
            <table>
                <tr>
                    <td> <h2 style="margin: 15px 3px;">Software Proficiency</h2></td>
                </tr>
                <tr>
                    <td>Program languages</td>
                    <td><input size="30" type="text" name="progLang" class="input form-control" id="" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td>Web Technologies</td>
                    <td><input size="30" type="text" name="webTech" class="input form-control" id="" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td>Databases</td>
                    <td><input size="30" type="text" name="DB" class="input form-control" id="" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td>IDE</td>
                    <td><input size="30" type="text" name="IDE" class="input form-control" id="" autocomplete="off" required></td>
                </tr>
            </table>
        </div>

        <!-- Certificatons -->

        <h2 style="margin: 15px 3px;">Certifications</h2>
        <div class="row">
            <div class="col-lg-12">
                <div id="inputFormRow1">
                    <div class="input-group mb-3">
                        <ul>
                            <li>
                                <input size="70" type="text" name="certificate[]" class="input form-control" autocomplete="off" required>
                            </li>
                        </ul>
                        <div class="input-group-append">                
                            <button id="removeRow1" type="button" class="removeButton btn btn-danger">Remove</button>
                        </div>
                    </div>
                </div>
                <div id="newRow1"></div>
                <button style="margin-left: 32px;" id="addRow1" type="button" class="btn btn-info">Add Row</button>
            </div>
        </div>

        <!-- Areas of Interest -->

        <h2 style="margin: 15px 3px;">Areas of Interest</h2>

        <div class="row">
            <div class="col-lg-12">
                <div id="inputFormRow">
                    <div class="input-group mb-3">
                        <ul>
                            <li>
                                <input size="70" type="text" name="areaOfInterest[]" class="input form-control" autocomplete="off" required>
                            </li>
                        </ul>
                        <div class="input-group-append">                
                            <button id="removeRow" type="button" class="removeButton btn btn-danger">Remove</button>
                        </div>
                    </div>
                </div>
                <div id="newRow"></div>
                <button style="margin-left: 32px;" id="addRow" type="button" class="btn btn-info">Add Row</button>
            </div>
        </div>
        <!-- </form> -->
        <div style="margin-top: 15px;">
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    // add row
    $("#addRow").click(function () {
        var html = '';
        html += '<div id="inputFormRow">';
        html += '<div class="input-group mb-3">';
        html += '<ul>';
        html += '<li>';
        html += '<input size="70" type="text" name="areaOfInterest[]" class="input form-control" autocomplete="off" required>';
        html += '</li>';
        html += '</ul>';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="removeButton btn btn-danger">Remove</button>';
        html += '</div>';
        html += '</div>';
        $('#newRow').append(html);
    });
    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });

    // add row
    $("#addRow1").click(function () {
        var html = '';
        html += '<div id="inputFormRow1">';
        html += '<div class="input-group mb-3">';
        html += '<ul>';
        html += '<li>';
        html += '<input size="70" type="text" name="certificate[]" class="input form-control" autocomplete="off" required>';
        html += '</li>';
        html += '</ul>';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow1" type="button" class="removeButton btn btn-danger">Remove</button>';
        html += '</div>';
        html += '</div>';
        $('#newRow1').append(html);
    });
    // remove row
    $(document).on('click', '#removeRow1', function () {
        $(this).closest('#inputFormRow1').remove();
    });
</script>


<%- include("partials/footer") -%>